#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.listofplayers{
  display: flex;
  flex-direction: column;
}


.box {
  /* border: 2px dotted rgb(96 139 168); */
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.box div {
  width: 100px;
  height: 140px;
  background-color: rgb(96 139 168 / 0.2);
  background-size: cover;
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  transition: transform 0.18s ease;
}

.box div:hover{
  transform: translateY(-3px);
}

.bidbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.bid2{
  width: 50px; /* Example width */
  height: 50px; /* Must be equal to width for a perfect circle */
  background-color: #F7D154; /* Example color */
  display: flex;
  align-items: center; 
  justify-content: center;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  transition: transform 0.18s ease;
}
.bid2:hover{
  transform: scale(1.05);
}

.bid3{
  width: 50px; /* Example width */
  height: 50px; /* Must be equal to width for a perfect circle */
  background-color: #F7931E; /* Example color */
  display: flex;
  align-items: center; 
  justify-content: center;
  transition: transform 0.18s ease;
}

.bid3:hover{
  transform: scale(1.05);
}

.bid4{
  width: 50px; /* Example width */
  height: 50px; /* Must be equal to width for a perfect circle */
  background-color: #E63946; /* Example color */
  display: flex;
  align-items: center; 
  justify-content: center;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  transition: transform 0.18s ease;
}
.bid4:hover{
  background-color: #E63946; /* Example color */
  transform: scale(1.05);
}

.pass{
  width: 50px; /* Example width */
  height: 50px; /* Must be equal to width for a perfect circle */
  background-color: #1E90FF; /* Example color */
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;
  transition: transform 0.18s ease;
}

.pass:hover{
  transform: scale(1.05);
}



